*{
	padding:0;
	margin:0 auto;
}
@mixin widheit($width,$height){
	width:$width;
	height:$height;
} 
body{
	width:100%;
	#top{
		overflow: hidden;
		@include widheit(100%, 164px);
		border-bottom: 1px solid #a4d666;
// 		width:100%;
// 		height:166px;
		#top-top{
			@include widheit(100%, 37px);
// 			width:100%;
// 			height:37px;
			border-bottom:1px solid #e3e3e3 ;
			background:#fafafa;
			#top-top-top{
				@include widheit(1130px, 37px);
// 				width:1130px;
// 				height:37px;
				// background: fuchsia ;
				p{
					float:left;
					a{
						float:left;
						display: block;
						img{
							margin:5px 5px 0 0;
						}	
					}
				}
				ul{
					float:right;
					list-style: none;
					li{
						float:left;
						margin-top:11px;
						p{
							@include widheit(20px, 20px);
							margin-right:6px;
						}
						a{
							float:left;
							line-height: 20px;
							color:#666666;
							font-size:14px;
							text-decoration: none;
							margin-right:6px;
						}
						span{
							float:left;
							vertical-align: auto; 
							@include widheit(12px, 8px);
							background:url('../src/img/index/Arrow.gif') no-repeat;
							margin-top:6px;
							&::after{
								height:6px;
								width:1px;
								border-right:5px solid red;
								margin-right:6px;
							}
						}
						&:first-of-type{
							p{
								background: url('../src/img/index/online_new.png')  top;
							}
						}
						&:nth-of-type(2){
							p{
								background:url('../src/img/index/online_new.png') center -133px no-repeat;
							}
						}
						&:nth-of-type(3){
							p{
								background:url('../src/img/index/online_new.png') center -243px no-repeat;
							}
						}
					}
				}
			}
		}
		#top-logo{
			@include widheit(1130px, 90px);
			overflow: hidden;
			// background:forestgreen;
			&>img{
				float:left;
				margin-top:15px;
			}
			#logo-search{
				float:left;
				@include widheit(436px, 64px);
				margin:20px 0 0 120px;
				input{
					@include widheit(356px, 33px);
					outline:none;
					border:1px solid #71be0e;
					border-radius: 3px;
					font-size: 18px;
					float:left;
				}
				& img{
					float:left;
				}
				& ul{
					float:left;
					list-style: none;
					padding-top:5px;
					li{
						float:left;
						p{
							color:#6fbe4a;
							padding-right:5px;
						}
						a{
							padding-right:7px;
							text-decoration: none;
							&:nth-child(odd){
								color:red;
							}
							&:nth-child(even){
								color:#999999;
							}
						}
					}
				}
			}
			#logo-phone{
				padding-top:25px;
				float:right;
				span{
					font-size:14px;
					color:#7a7a7a;
				}
				p{
					b{
					font-size:16px;
					color:#57a805;
					}
				}
			}
		}
		#top-nav{
			@include widheit(100%, 38px);
			// background:darkcyan;
			clear:both;
			#top-nav-true{
				@include widheit(1130px, 37px);
				position: relative;
				p{
					float:left;
					line-height: 37px;
					@include widheit(155px, 36px);
					font-size:16px;
					padding-left:10px;
					color:#ffffff;
					background: #68bb00 url('../src/img/index/nav-x-leftico.png') no-repeat 140px  ;
					
				}
				ul{
					padding-left:20px;
					float:left;
					list-style: none;
					li{
						width:64px;
						float:left;
						margin:0 14px;
						a{
							line-height: 37px;
							color:#4b4b5c;
							text-decoration: none;
							font-size:15px;
							
						}
					}
				}
			}
			border-bottom: 1px solid #68bb00;
		}
		
// 		#top-clear{
// 			clear: both;
// 		}
		
	}
		
		
		#foolter{
			@include widheit(1130px, 384px);
			// background: salmon;
			#friendlink{
				@include widheit(1130px, 130px);
				border-top:1px solid #ededed;
				border-bottom:1px solid #ededed;
				&>ul{
					height:100%;
					li{
						float:left;
						padding:15px 30px 0 60px;
						list-style: none;
					#friendlink ul li>dl{
							list-style:none;
							dt{
								font-size:16px;
								color:#333333;
							}
							dd{
								font-size:15px;
								color:#4b4b4b;
							}
						}
					}
				}
			}
			#service{
				@include widheit(1130px, 118px);
				background: #f9f9f9;
				ul{
					width:838px;
					overflow: hidden;
					text-align: center;
					
					li{
						list-style: none;
						float:left;
						padding:20px 70px 0 70px;
						p{
							@include widheit(80px, 64px);
							background: url('../src/img/index/footicon.png') no-repeat center -75px;
						}
						span{
							// text-align: center;
							color:#736666;
							span{
								color:#7ba700;
							}	
						}
					}	
				}
			}
			#foot{
				@include widheit(1130px, 135px);
				// background:seagreen;
				p{
					text-align: center;
					font-size:10px;
					padding-top:4px;
					line-height: 23px;
					a{
						text-decoration: none;
						color:#4b4b4b;
					}
					span{
						color:#996699;
					}
				}
				h6{
					text-align: center;
					font-weight: normal;
					font-size:11px;
					// padding-top:12px;
					line-height: 24px;
				}
				h5{
					text-align: center;
					font-weight: normal;
					font-size:11px;
					line-height: 24px;
				}
				ul{
					padding-top:5px;
					width:503px;
					li{
						list-style: none;
						float:left;
						margin:0 4px;
					}
				}
			}
		}
		
}