@mixin widheit($width,$height){
	width:$width;
	height:$height;
} 
body{
	#navi{
		@include widheit(1130px, 50px);
		// background: cadetblue;
		overflow: hidden;
		img{
			padding-top:8px;
			float:left;
		}
		P{
			line-height: 50px;
			float:left;
			font-size:11px;
			color:#736666;
		}
	}
	#main{
		@include widheit(1130px,null);
		overflow: hidden;
		#left{
			@include widheit(161px, 770px);
			float:left;
			// background: salmon;
			border:4px solid #e1e1e1;
			p{
				@include widheit(100%,33px);
				font-size:14px;
				color:#fff;
				line-height: 33px;
				text-align: center;
				background:#7bc222;
				font-weight: bold;
			}
			ul{
				li{
					// list-style: afar;
					height:27px;
					border-bottom: 1px dotted #e1e1e1;
					padding-left:20px;
					list-style-type : disc;
				}
			}
		}
		
		#right{
			@include widheit(948px, 50px);
			float:right;
			background:seagreen;
		}
	}
}